@import "vars";

.stack {
  box-shadow: 0 0 1px 0 $gray-2;
}

.stack-card {
  box-shadow: 0 0 2px $gray-2;
  background-color: $dark-2;

  & .stack-card__image {
    width: 140px;
    height: 140px;
  }
}